.login-image {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(90deg, rgba(var(--color-bg), .4), rgba(var(--color-bg), .8));
}

.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 25rem;
    max-width: 25rem;
    background-color: rgba(var(--color-bg), .6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .2);
    border-radius: 32px;
    padding: 1rem 2rem;
}

.login-form::after {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.login-form h2 {
    font-size: 1.6rem;
}

.login-form > * {
    margin-top: 1rem;
}

.login-form-control {
    width: 75%;
}

.login-form-control label {
    display: block;
    margin-bottom: .5rem;
    cursor: pointer;
}

.login-form-control input {
    width: 100%;
    min-height: 20px;
    padding: .5rem 1rem;
    padding-right: 2rem;
    border-radius: 32px;
    background-color: #fff;
}

.login-form-control-password {
    position: relative;
}

.password-eye {
    position: absolute;
    height: 100%;
    right: .75rem;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
}

.form-error {
    margin-top: .5rem;
    font-size: .8rem;
    color: rgb(var(--color-error));
}

.input {
    @apply block text-sm font-medium text-gray-900;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .2);
}

.btn-submit {
    @apply bg-blue-400 text-white font-bold py-2 px-4 rounded-full border-0;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .2);
    transition: background-color var(--transition-duration);
    cursor: pointer;
}

.btn-submit:not(:disabled) {
    @apply hover:bg-blue-500;
}

.btn-submit:disabled {
    background-color: #fff;
    color: #aaa;
    cursor: not-allowed;
}

.back-to-main-menu {
    position: absolute;
    right: 1.5rem;
    background-color: rgba(var(--color-bg), .6);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .2);
}